name: Build Container

on:
  workflow_dispatch: {}
  
  repository_dispatch:
    types:
      - rebuild

  push:
    branches:
      - main

  pull_request:
    branches:
      - main
  
  release:
    types:
      - published

jobs:
  build-container:
    strategy:
      fail-fast: false
      matrix:
        variant:
          - gnome
          - xfce
        arch:
          - amd64
          - arm64
        include:
          - arch: amd64
            os: ubuntu-24.04
          - arch: arm64
            os: ubuntu-24.04-arm
    name: Build Container Image
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
      packages: write
      id-token: write # needed for signing the images with GitHub OIDC Token
    steps:
      - name: Replace container storage with /mnt
        run: |
          df -h
          # Make /mnt directories
          sudo mkdir /mnt/containers /mnt/usr_containers
          
          # Set permissions for non-root container storage
          sudo chown $USER /mnt/usr_containers
          
          # Replace root container storage
          sudo mv /var/lib/containers/storage /var/lib/containers/storage.orig
          sudo ln -s /mnt/containers /var/lib/containers/storage
          
          # Replace user container storage
          mkdir -p ~/.local/share/containers
          ln -s /mnt/usr_containers ~/.local/share/containers/storage
          
      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: recursive
          fetch-depth: 0
          fetch-tags: 'true'

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          flavor: |
            suffix=-${{ matrix.variant }}-${{ matrix.arch }}
          images: |
            ghcr.io/${{ github.repository }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern=v{{version}}
            type=semver,pattern=v{{major}}.{{minor}}
            type=semver,pattern=v{{major}}.{{minor}}.{{patch}}

      - name: Generate Containerfile
        run: |
          ./gen_workstation.sh ghcr.io/jasonn3/fedora_base:main ${{ matrix.variant }}

      - name: Buildah Build
        id: build-image
        uses: redhat-actions/buildah-build@v2
        with:
          containerfiles: Containerfile
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Push image
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build-image.outputs.image }}
          tags: ${{ steps.build-image.outputs.tags }}
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Show remaining space
        if: failure()
        run: |
          df -h

  combine-tags:
    name: Combine Tags
    strategy:
      fail-fast: false
      matrix:
        variant:
          - gnome
          - xfce
    runs-on: ubuntu-24.04
    needs: build-container
    permissions:
      packages: write
    steps:
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          flavor: |
            latest=auto
            suffix=-${{ matrix.variant }}
          images: |
            ghcr.io/${{ github.repository }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern=v{{version}}
            type=semver,pattern=v{{major}}.{{minor}}
            type=semver,pattern=v{{major}}.{{minor}}.{{patch}}

      - name: Generate manifest
        run: |
          for tag in ${{ steps.meta.outputs.tags }}
          do
            podman manifest create ${tag}
            podman manifest add ${tag} \
              docker://${tag}-amd64 \
              --arch amd64
            podman manifest add ${tag} \
              docker://${tag}-arm64 \
              --arch arm64
          done

      - name: Push manifest
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ghcr.io/${{ github.repository }}
          tags: ${{ steps.meta.outputs.tags }}
          username: ${{ github.actor }}
          password: ${{ github.token }}

  make-raw:
    name: Create Raw Arm64 Image
    strategy:
      fail-fast: false
      matrix:
        variant:
          - gnome
          - xfce
    runs-on: ubuntu-24.04-arm
    needs: build-container
    permissions:
      actions: write
      packages: write
    steps:
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          flavor: |
            suffix=-${{ matrix.variant }}
          images: |
            ghcr.io/${{ github.repository }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern=v{{version}}
            type=semver,pattern=v{{major}}.{{minor}}
            type=semver,pattern=v{{major}}.{{minor}}.{{patch}}

      - name: Pull image
        run: |
          tag=$(echo "${{ steps.meta.outputs.tags }}" | awk '{print $1}')
          echo "Pulling ${tag}-arm64"
          sudo podman pull --authfile ~/.docker/config.json ${tag}-arm64

      - name: Create Image
        run: |
          set -euxo pipefail
          cleanup() {
            sudo umount /mnt/root/boot/efi || true
            sudo umount /mnt/root/boot     || true
            sudo umount /mnt/root          || true
            sudo losetup -d "$disk"        || true
          }
          trap cleanup EXIT
          mkdir -p output
          tag=$(echo "${{ steps.meta.outputs.tags }}" | awk '{print $1}')
          rootfs=btrfs
          size=$(sudo podman images ${tag}-arm64 --format json | jq '.[].Size/1024/1024/1024 | ceil + 4')
          truncate -s ${size}GiB output/arm64.raw
          parted output/arm64.raw mklabel gpt
          parted output/arm64.raw mkpart EFI fat32 1MiB 601MiB
          parted output/arm64.raw set 1 esp on
          parted output/arm64.raw mkpart boot ext4 601MiB 1625MiB
          parted output/arm64.raw mkpart root ${rootfs} 1625MiB 100%
          parted output/arm64.raw print
          disk=$(sudo losetup --show -P -f output/arm64.raw)
          sudo mkfs.vfat -F 32 ${disk}p1
          sudo mkfs.ext4 ${disk}p2
          sudo mkfs.${rootfs} -L root ${disk}p3
          sudo mkdir -p /mnt/root
          sudo mount ${disk}p3 /mnt/root
          sudo mkdir /mnt/root/boot
          sudo mount ${disk}p2 /mnt/root/boot
          sudo mkdir /mnt/root/boot/efi
          sudo mount ${disk}p1 /mnt/root/boot/efi
          sudo podman run \
            --rm \
            --privileged \
            --pid=host \
            --security-opt label=type:unconfined_t \
            -v /dev:/dev \
            -v /var/lib/containers:/var/lib/containers \
            -v /mnt/root:/output \
            ${tag}-arm64 \
            bootc install to-filesystem \
              --generic-image \
              --skip-fetch-check \
              --target-transport containers-storage \
              --target-imgref ${tag} \
              /output
          sudo umount /mnt/root/boot/efi
          sudo umount /mnt/root/boot
          sudo umount /mnt/root
          sudo losetup -d ${disk}
          echo "Compressing image..."
          xz -vz -T0 output/arm64.raw

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: output-image-${{ matrix.variant }}
          path: output/*.raw.xz

  tag-release:
    name: Tag Release as Library
    if: github.event_name == 'release'
    needs: combine-tags
    environment: library
    permissions:
      packages: write
    strategy:
      matrix:
        arch:
          - amd64
          - arm64
        variant:
          - gnome
          - xfce
        include:
          - arch: amd64
            os: ubuntu-24.04
          - arch: arm64
            os: ubuntu-24.04-arm
            
    runs-on: ${{ matrix.os }}
    steps:
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Docker meta
        id: meta-orig
        uses: docker/metadata-action@v5
        with:
          flavor: |
            suffix=-${{ matrix.variant }}
          images: |
            ghcr.io/${{ github.repository }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern=v{{version}}
            type=semver,pattern=v{{major}}.{{minor}}
            type=semver,pattern=v{{major}}.{{minor}}.{{patch}}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          flavor: |
            suffix=-${{ matrix.variant }}
          images: |
            ghcr.io/${{ github.repository }}
          tags: |
            library

      - name: Pull manifest
        run: |
          tag=$(echo "${{ steps.meta-orig.outputs.tags }}" | awk '{print $1}')
          echo "Pulling ${tag}"
          sudo podman pull ${tag}

      - name: Push manifest
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ghcr.io/${{ github.repository }}
          tags: ${{ steps.meta.outputs.tags }}
          username: ${{ github.actor }}
          password: ${{ github.token }}
